<!DOCTYPE html>
<html>
  <head>
	<%- include ("./head.ejs") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("./nav.ejs") %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Welcome Ejun Park's profile website</h1>
        <br />
        <p></p>
        <p></p>
        <p>계정이 없으시면 회원가입하세요.</p>
        <br />
      </div>
    </div>
  </body>
</html>
